/* Write your CSS here */
.planets-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url('https://assets.ccbp.in/frontend/react-js/planets-app/planets-bg-img.png');
  height: 100vh;
  padding: 60px;
}
.planets-heading {
  font-family: roboto;
  font-size: 36px;
  font-weight: 500;
  color: #05acff;
  text-align: center;
}
